
/* Comfortaa 3 версії,  без засічок */
@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa-Light.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Comfortaa";
	src: url("../fonts/Comfortaa-Medium.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

/* Bitter 4 версії: 2 курсив, 2 без */
@font-face {
	font-family: "Bitter";
	src: url("../fonts/Bitter-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Bitter";
	src: url("../fonts/Bitter-Italic.woff2") format("woff2");
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}
@font-face {
	font-family: "Bitter";
	src: url("../fonts/Bitter-Bold.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Bitter";
	src: url("../fonts/Bitter-BoldItalic.woff2") format("woff2");
	font-weight: 700;
	font-style: italic;
	font-display: swap;
}
/* Marck Script 1 вид декоративний */
@font-face {
	font-family: "Marck Script";
	src: url("../fonts/MarckScript-Regular.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}